<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos de Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AgrovetApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgrovetPOS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Clientes Activity -->
        <activity
            android:name=".activities.ClientesActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- Proveedores Activity -->
        <activity
            android:name=".activities.ProveedoresActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- Productos Activity -->
        <activity
            android:name=".activities.ProductosActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

    </application>

</manifest>